<ng-container *ngFor="let sectionItem of section.items">
    <div [ngSwitch]="sectionItem.type" 
        [ngClass]="{ 'padded': sectionItem.type !== secondaryLinkSectionItemType }">
        <app-header *ngSwitchCase="headerSectionItemType" [text]="sectionItem.header"></app-header>
        <app-header *ngSwitchCase="heroSectionItemType" [text]="sectionItem.heroText"
            [fontWeight]="fontWeightBold">
        </app-header>
        <app-contained-button *ngSwitchCase="primaryLinkSectionItemType" [label]="sectionItem.label"
            [routerLink]="sectionItem.routerLink">
        </app-contained-button>
        <div *ngSwitchCase="secondaryLinkSectionItemType" class="secondary-link__container" mat-menu-item>
            <a class="link" [routerLink]="sectionItem.routerLink">
                <app-header [text]="sectionItem.label" [fontWeight]="fontWeightBold" [isMarginless]="true">
                </app-header>
                <app-body [text]="sectionItem.description"></app-body>
            </a>
        </div>
    </div>
</ng-container>