:host {
    flex-basis: 50%;
}

:host:only-child {
    flex-basis: 100%;
}

.secondary-link__container:not(:last-child) {
    margin-top: 16px;
}

.secondary-link__container:hover {
    background-color: var(--grey-colour);
}

.link {
    text-decoration: none;
    color: inherit;
}

.padded {
    padding: 0 16px;
}