<mat-menu #navbarItemMenu="matMenu" [class]="'navbar-item-panel'" [backdropClass]="'cdk-overlay-dark-backdrop'">
    <app-navbar-section *ngFor="let section of navbarItem.sections" [section]="section"></app-navbar-section>
</mat-menu>

<button [ngClass]="{ 'item': true, 'item--open-menu': menuOpen }" [matMenuTriggerFor]="navbarItemMenu"
    (menuOpened)="onMenuOpened()" (menuClosed)="onMenuClosed()">
    <p class="item__text mat-body-2">{{ navbarItem.label }}</p>
    <div class="item__icon">
        <mat-icon inline="true" aria-hidden="false" aria-label="Navigation bar item dropdown icon">
            arrow_drop_down
        </mat-icon>
    </div>
</button>
