

a.mat-menu-item {
    display: inline-block;
    line-height: 32px;
    height: 32px;
}

div.mat-menu-item {
    line-height: 32px;
    height: 32px;
}

.navbar-menu__label {
    margin: 0;
}

.navbar-menu__expansion-panel {
    border: none;
    box-shadow: none;
}

.secondary-link__container:hover {
    background-color: var(--grey-colour);
}

.secondary-link__container {
    border-bottom: 1px solid var(--grey-colour);
}

.link {
    height: 100%;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.link__label {
    margin: 0;
}

.item {
    padding: 8px 0;
}