.container {
    padding: 0 16px;
    @include tablet {
        padding: 0 24px;
    }
    @include desktop {
        padding: 0 32px;
    }
}

.mat-menu-panel.navbar-item-panel { 
    max-width: 512px;
    & > div[class~="mat-menu-content"] {
        display: flex;
    }
    & div[class~="mat-menu-item"] {
        height: inherit;
        line-height: inherit;
        white-space: normal;
    }
    & a[class~="mat-menu-item"] {
        display: inline;
    }
}

.cdk-overlay-backdrop.navbar-item-overlay-backdrop {
    top: 64px;
}