:host {
    width: 100%;
}

:host:not(:last-child) {
    border-right: 1px solid var(--text-secondary-colour);
    margin-right: 24px;
}

.footer-section__header {
    color: var(--text-primary-invert-colour);
}

.link {
    color: var(--text-secondary-colour);
    text-decoration: none;
}

.link:hover {
    color: var(--text-primary-invert-colour);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}