<div class="footer-desktop container">
    <div class="footer-desktop__sections">
        <app-footer-section *ngFor="let section of footerSections" [section]="section"
            [isGrid]="section.items.length > 4"></app-footer-section>
    </div>
    <div class="divider"></div>
    <div class="footer-desktop__legal">
        <div class="footer-desktop__legal-left">
            <a routerLink="/privacy" class="link">Privacy</a>
            <a routerLink="/terms-of-use" class="link">Terms of Use</a>
            <a routerLink="/cookies" class="link"><p class="mat-body-1">Cookies</p></a>
        </div>
        <div class="footer-desktop__legal-right">
            <p class="copyright mat-body-1">Copyright &copy; 2020 Interactive IndiVisuals. All rights reserved.</p>
        </div>
    </div>
</div>