.item {
    position: relative;
    height: 64px;
    padding: 0 16px;
    background-color: transparent;
    border: none;
}

.item--open-menu {
    & .item__icon {
        color: var(--text-secondary-colour);
    }
}

.item:hover {
    background-color: var(--hover-light-colour);
    & .item__icon {
        color: var(--text-secondary-colour);
    }
}

.item__text {
    position: relative;
    padding: 0 16px;
    margin: auto 0;
}

.item__icon {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 18px;
    color: transparent;
}