:root {
  --text-primary-colour: #000000;
  --text-secondary-colour: #747474;
  --text-primary-invert-colour: #FFFFFF;
  --grey-colour: #EFEFEF;
  --hover-light-colour: #F6F6F6;
  --black-background-colour: #111111;
}

// Fonts
@import "styles/responsive-mixins.scss";
@import "styles/fonts.scss";
@import "styles/layout.scss";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Nunito',
  $subheading-2: mat-typography-level(15px, 24px, 700),
  $subheading-1: mat-typography-level(15px, 24px, 400),
  $body-2: mat-typography-level(12px, 20px, 700),
  $body-1: mat-typography-level(12px, 20px, 400)
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$interactive-indivisuals-web-primary: mat-palette($mat-indigo, 800, 600, 900);
$interactive-indivisuals-web-accent: mat-palette($mat-pink, A100, 50, A400);

// The warn palette is optional (defaults to red).
$interactive-indivisuals-web-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$interactive-indivisuals-web-theme: mat-light-theme($interactive-indivisuals-web-primary, $interactive-indivisuals-web-accent, $interactive-indivisuals-web-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($interactive-indivisuals-web-theme);

/* You can add global styles to this file, and also import other style files */
@import "styles/typography.scss";

html, body { height: 100%; box-sizing: border-box; }
body { margin: 0; }

// Hiding the outline, or focus ring, in an accessible way
.no-focus-outline a:focus,
.no-focus-outline button:focus {
  outline: none;
}
